################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/output
bin
obj
.idea
.vs
/src/XWindowManager.sln.DotSettings.user
